@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800;900&display=swap');

body{
   background-color: black;
    max-width: 1200px;
    margin: auto;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    background-color: #7C37CC;
    width: 300px;
    position: fixed;
    top: 25px;
    left: 25px;
    font-family: 'Libre Franklin', sans-serif;
}

nav {
    background-color: #A631FF;
    width: 300px;
    position: fixed;
    top: 150px;
    left: 25px;
}

main{
background-color: #AB6FFF;
width: 650px;
margin-left: 500px;
}

section {
background-color: #6D42CC;
border: 5px #000000 solid;
margin-top: 25px;
padding: 25px;
text-align: center;
}

section img{
    border: 1px black solid;
    padding: 10px;
}

footer {
background-color: beige;
width: 300px;
position: fixed;
bottom: 25px;
left: 25px;
}

#maingif {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 25%;
}

#maingif:hover{
    border: 1px #6D42CC dotted;
    opacity: 0.5;
}

